---
---

$dark: #070a0d
$light: #ebebeb

body
  background-color: $dark
  color: $light
  margin: 0

.center
  margin: 0 auto
  text-align: center

img
  width: 15em
  &.socialico
    width: 5em
    margin: 2em

.footer
  width: 100%
  height: 5em
  bottom: 0
  position: absolute