  <head>
    <meta charset="utf-8">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113892943-1"></script>

    <!-- Facebook meta -->
    <meta property="og:title" content="EverythingIsNAND Home">
    <meta property="og:url" content="http://www.everythingisnand.com/">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://www.everythingisnand.com/img/nandgate_200.png">
    <meta property="og:description" content="Just a website I'm playing around with. How you like these meta">

    <!-- Twitter meta-->
    <meta name="twitter:title" content="EverythingIsNAND Home" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@EverythinIsNAND" />
    <meta name="twitter:description" content="Just my playaround with website." />
    <meta name="twitter:image:src" content="http://www.everythingisnand.com/img/nandgate.png" />

    <meta name="author" content="EverythingIsNAND">
    <meta name="description" content="My placeholder website for EverythingIsNAND hopefully stopping the 'offers' until I make this nicer.">
    <title>EverythingIsNAND | Home</title>
    <link rel="shortcut icon" type="image/x-icon" href="icon.ico">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-113892943-1');
    </script>
  </head>